@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
:root {
  --primary1: #00e2c4;
  --background: rgb(17, 18, 22);
  --accent1: rgb(33, 34, 41);
  --secondary: rgb(39, 39, 39);
}

body {
  padding: 0px;
  margin: 0px;
  background-color: var(--background);
  color: white;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  z-index: 1;
  width: 100vw;
  position: absolute;
}

span {
  color: var(--primary1);
  text-shadow: 2px 2px #0099ff;
}

a {
  text-decoration: none;
}

.bx {
  display: flex;
}

.gd {
  display: grid;
}

main {
  z-index: 10;
}

/* === Intro and Header Styles === */
.intro {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.5rem;
  position: relative;
}

.intro h1 {
  z-index: 10;
}

.learn {
  z-index: 99;
  margin-top: 30px;
  cursor: pointer;
}

.intro-background {
  z-index: 5;
}

#particle-canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
}

button {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

nav {
  padding: 0.1vh;
  background-color: rgb(39, 39, 39);
  padding-right: 2vw;
  position: sticky;
  top: 0;
  z-index: 12;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  list-style-type: none;
  gap: 3%;
}

.header a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.section-title {
  position: relative;
  color: #ffffff;
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-bottom: none;
}

.body-canvas {
  position: sticky;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

/* === HEADING STYLE === */
.one h1 {
  text-align: center;
  padding-bottom: 5px;
  z-index: 4;
}

.one h1:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: var(--primary1);
}

.one h1:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: var(--primary1);
}

.one h2 {
  text-align: center;
  padding-bottom: 5px;
  z-index: 4;
  font-size: 2.3rem;
  margin-bottom: 0;
}

.one h2:before {
  width: 28px;
  height: 5px;
  display: block;
  content: "";
  position: absolute;
  bottom: 3px;
  left: 50%;
  margin-left: -14px;
  background-color: var(--primary1);
}

.one h2:after {
  width: 100px;
  height: 1px;
  display: block;
  content: "";
  position: relative;
  margin-top: 10px;
  left: 50%;
  margin-left: -50px;
  background-color: var(--primary1);
}

/* === About Section === */
.about {
  flex-direction: column;
  align-items: center;
  padding-top: 8vh;
  gap: 4vh;
  z-index: 10;
}

.container {
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  width: 60vw;
  z-index: 10;
}

.overview {
  justify-self: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  width: 100%;
}

.photo {
  width: 300px;
  height: auto;
}

.overview p {
  font-size: 1.3rem;
  text-align: center;
}

/* === Skills Section === */
.skills {
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-self: center;
}

.skills h1 {
  text-align: center;
}

.skills h2 {
  text-align: center;
  margin: 0;
}

.skill-detail {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.skill-list {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.skill {
  border: var(--primary1) 1px solid;
  padding: 10px;
  transition: all 0.5s ease;
}

.skill:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/* === Timeline Section === */
.cd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time {
  width: 100%;
  background-color: var(--accent1);
}

/* === Project Section === */
.project-list {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8vh;
  z-index: 10;
}

.project {
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 80vh;
  margin-bottom: 30px;
  z-index: 10;
}

.project img {
  height: auto;
  width: 60%;
  transition: all 0.5s ease;
  z-index: 10;
}

.project img:hover {
  transform: scale(1.03);
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  z-index: 10;
}

.project-title {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.project-altag {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.project-desc {
  font-size: 1.1rem;
}

.project-img-right {
  box-shadow: 10px 10px 0px 0px var(--primary1);
}

.project-img-left {
  box-shadow: -10px 10px 0px 0px var(--primary1);
}

/* === Contact Section === */
.contact {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4vh;
  padding: 30px;
  z-index: 10;
}

.form {
  z-index: 10;
}

.input-group {
  flex-direction: column;
  gap: 30px;
  z-index: 10;
}

.fm {
  background-color: var(--accent1);
}

.form-input,
.form-text {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem;
  width: 25vw;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 5px;
  z-index: 10;
}

.form-input {
  height: 40px;
}

.form-button {
  justify-content: end;
  z-index: 10;
}

/* === Footer Section === */
.footer {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 120px;
  margin: 0px;
  padding: 0px;
  background-color: var(--secondary);
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 3px, rgba(0, 0, 0, 0.24) 1px 1px 2px;
  z-index: 10;
  font-size: x-small;
}

.foot {
  z-index: 10;
}

/* === Background Animations === */
#particle-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* === Button Stylings === */
.preview,
.preview *,
.preview :after,
.preview :before,
.preview:after,
.preview:before {
  border: 0 solid;
  box-sizing: border-box;
}

.preview {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: white;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, --primary1);
  padding: 0;
}

.preview:disabled {
  cursor: default;
}

.preview:-moz-focusring {
  outline: auto;
}

.preview svg {
  display: block;
  vertical-align: middle;
}

.preview [hidden] {
  display: none;
}

.preview {
  --thickness: 4px;
  background: none;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% + var(--thickness)), 0 calc(100% + var(--thickness)));
  clip-path: polygon(0 0, 100% 0, 100% calc(100% + var(--thickness)), 0 calc(100% + var(--thickness)));
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 2px 0;
  position: relative;
  text-transform: uppercase;
}

.preview:before {
  background: var(--primary1);
  bottom: calc(var(--thickness) * -1);
  content: "";
  display: block;
  height: var(--thickness);
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.preview:hover:before {
  -webkit-animation: slide 0.5s ease;
  animation: slide 0.5s ease;
}

@-webkit-keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  51% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.resume,
.resume *,
.resume :after,
.resume :before,
.resume:after,
.resume:before {
  border: 0 solid;
  box-sizing: border-box;
}

.resume {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  text-transform: uppercase;
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 101;
}

.resume:disabled {
  cursor: default;
}

.resume:-moz-focusring {
  outline: auto;
}

.resume svg {
  vertical-align: middle;
}

.resume [hidden] {
  display: none;
}

.resume {
  background: rgba(78, 78, 78, 0.8);
  background-clip: content-box;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  width: 50px;
  height: 50px;
  -webkit-mask-image: none;
  padding: 0;
  position: relative;
  transition: 0.2s;
  position: fixed;
  bottom: 5%;
  left: 3%;
  z-index: 101;
  align-items: center;
  justify-content: center;
}

.resume:hover {
  background: #fff;
}

.resume svg {
  --size: 70px;
  fill: #fff;
  display: block;
  height: var(--size);
  left: calc(50% - var(--size) / 2);
  position: absolute;
  top: calc(50% - var(--size) / 2);
  width: var(--size);
}

.resume:hover svg {
  fill: #000;
}

.resume:before {
  border: 5px solid #fff;
  border-radius: 50%;
  content: "";
  inset: 1px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: scale(2);
  transition: 0.2s;
}

.resume:hover:before {
  opacity: 1;
  transform: scale(1);
}

.learn,
.learn *,
.learn :after,
.learn :before,
.learn:after,
.learn:before {
  border: 0 solid --primary1;
  box-sizing: border-box;
}

.learn {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgba(0, 226, 196, 0);
  background-image: none;
  color: var(--primary1);
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 40px;
  -webkit-mask-image: -webkit-radial-gradient(#000, --primary1);
  padding: 0;
}

.learn:disabled {
  cursor: default;
}

.learn:-moz-focusring {
  outline: auto;
}

.learn svg {
  display: block;
  vertical-align: middle;
}

.learn [hidden] {
  display: none;
}

.learn {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  border: 1px solid;
  border-radius: 999px;
  box-shadow: 0 0 0 2em transparent;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: 1rem 3rem;
  position: relative;
  text-transform: uppercase;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary1);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary1);
  }
}
/* === Animations === */
.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 0.5s linear both;
  animation: slide-in-blurred-left 0.5s linear both;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-60px) scaleX(1) scaleY(1);
    transform: translateX(-60px) scaleX(1) scaleY(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-60px) scaleX(1) scaleY(1);
    transform: translateX(-60px) scaleX(1) scaleY(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 0.5s linear 0.6s both;
  animation: slide-in-blurred-bottom 0.5s linear 0.6s both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/* === Media Queries === */
/* Small devices such as large phones (640px and up) */
@media only screen and (min-width: 300px) {
  body {
    width: 100vw;
    border: blue 1px solid;
  }
  .intro {
    width: 100vw;
  }
  .intro h1 {
    position: relative;
    text-align: center;
    border: red 1px solid;
  }
  .intro-background {
    width: 100vw;
  }
  main {
    width: 100vw;
    border: red 1px solid;
  }
  .body-canvas {
    width: 100vw;
    border: red 1px solid;
  }
  .container {
    border: red 1px solid;
    width: auto;
    padding: 10px;
  }
  .header {
    justify-content: space-around;
  }
}
/* Medium devices such as tablets (768px and up) */
/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 1024px) {
  .container {
    border: red 1px solid;
    width: 60%;
  }
  .header {
    justify-content: end;
  }
}
/* Largest devices such as desktops (1280px and up) */

/*# sourceMappingURL=output.css.map */
