body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(17, 18, 22);
    color: white;
}

.bx{
    display: flex;
}

.intro{
    border: red 1px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

nav{
    border: red 1px solid;
    background-color: rgb(39, 39, 39);
    padding-right: 2vw;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    gap: 2rem;
}

.header a{
    text-decoration: none;
    color: white;
}

.about{
    border: red 1px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    justify-content: space-around;
    width: 50vw;
}

.overview{
    border: red 1px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills{
    border: red 1px solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-list{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project{
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 90vh;
}

.project img{
    height: auto;
    width: 60%;
}

.project-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
